<meta charset="UTF-8" />

<style>
    .main {
      border: 1px solid black;
      border-collapse: collapse;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    td {
        text-align: center;
    }
    </style>
{% for geraet in daten %}
<table style="border: 0px; width: 100%; margin-top: 50px;">
    <tr>
        <td colspan="3"><h3>Protokoll Kurzprüfungen</h3></td>
    </tr>
    <tr>
        <td style="width: 20%;">Feuerwehr</td>
        <td style="width: 60%;">Bezeichnung Gerät</td>
        <td style="width: 20%;">Jahr</td>
    </tr>
    <tr>
        <td><h4>FF Trins</h4></td>
        <td><h4>{{ geraet[0].name_geraet }}</h4></td>
        <td><h4>{{ year }}</h4></td>
    </tr>
</table>
<hr style="border: 1px solid grey;">
<br>
<table class="main" style="width: 100%;">
    <tr class="main" style="border: 2px solid black;">
        <th>Datum</th>
        <th>Grund</th>
        <th>Flaschendruck</th>
        <th>HD-Dichtheit</th>
        <th>Warnsignal</th>
        <th>Geräteträger</th>
        <th>Prüfer</th>
    </tr>
    <tr class="main">
        {% for eintrag in geraet %}
            <tr>
                <td>{{ eintrag[0].zeit }}</td>
                <td>{{ eintrag[0].grund }}</td>
                {% if geraet[0].typ_geraet=='200bar' %}
                <td>{{ eintrag[0].druck1 }}/{{ eintrag[0].druck2 }}</td>
                {% else %}
                <td>{{ eintrag[0].druck1 }}</td>
                {% endif %}
                <td>{% if eintrag[0].dichtheit %}ok{% else %}nein{% endif%}</td>
                <td>{% if eintrag[0].warnsignal %}ok{% else %}nein{% endif%}</td>
                <td>{% if eintrag[0].geraetetraeger %}{{ eintrag[0].geraetetraeger }}{% endif%}</td>
                <td>{{ eintrag[0].pruefer }}</td>
            </tr>
        {% endfor %}
    </tr>
</table>
{% if not loop.last %}
<p style="page-break-after: always;"></p>
{% endif%}
{% endfor %}
