{% extends 'base_wart.html'%}

{% block input%}
<form class="form-group" action="" method="post">
    <div class="row">
        <div class="col-md-6" style="margin-top: 5px;">
            <h4 id="abschnitts_titel">Geräte Details</h4>
            <hr style="margin-bottom:10px; margin-top: 0em; height:2px;border-width:0;color:gray;background-color:rgb(190, 190, 190)">
        </div>
    </div>

    <div class="row">
        {{ form.hidden_tag() }}
        <div class="col-md-2">
            <p>{{ form.bezeichnung.label() }}</p>
            <p>{{ form.bezeichnung(class="form-control", value=geraet.name_geraet, disabled=True) }}</p>
            {% for error in form.bezeichnung.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        
        <div class="col-md-2">
            <p>{{ form.typ.label() }}</p>
            <p>{{ form.typ(class="form-control", select=geraet.typ_geraet, disabled=True) }}</p>
            {% if geraet.typ_geraet == '300bar' %}
            <script>document.querySelector('#typ').options[1].selected = true;</script>
            {% endif %}
        </div>
        
        <div class="col-md-2">
            <p>{{ form.anschaffung.label() }}</p>
            <p>{{ form.anschaffung(class="form-control", value=geraet.yyyy_geraet, disabled=True) }}</p>
        </div>
        
        
    </div>
    <div class="row">
        <div id='pin' class="col-md-2" style="display: none;">
            <p>{{ form.pin.label() }}</p>
            <p>{{ form.pin(class="form-control", maxlength="4") }}</p>
        </div>
        <div class="col-md-2">
            <p>{{ form.info.label() }}</p>
            <p>{{ form.info(class="form-control", disabled=True) }}</p>
            {% if geraet.info_geraet %}
            <script>document.getElementById('info').innerHTML='{{ geraet.info_geraet }}';</script>
            {% endif %}
        </div>
    </div>
    
    <div class="row">
        {% if id == '0'%}
        <div class="col-md-6">
            <hr style="margin-bottom:5px; margin-top:4px; height:2px;border-width:0;color:gray;background-color:rgb(190, 190, 190)">
            <ul class="list-inline" style="float: right;">
                <li id="submit" class="list-inline-item">{{ form.submit() }}</li>
                <li id="back" class="list-inline-item">
                    <button type="button" 
                        class="btn btn-block btn-lg" 
                        onclick="location.href='{{ url_for('wartgeraete') }}'"><span class="fas fa-arrow-left"></span>
                    </button>
                </li>
            </ul>
            <script>
                document.getElementById('abschnitts_titel').innerHTML = 'Neues Gerät anlegen'
                document.getElementById('pin').style.display='block';
                var inputElements = document.getElementsByTagName('input');
                for (var i=0; i < inputElements.length; i++) {
                    inputElements[i].disabled=false;
                }
                <!-- Gerätetyp muss seperat aktiviert werden, da select bzw Textarea -->
                document.getElementById('typ').disabled=false;
                document.getElementById('info').disabled=false;
            </script>
        </div>
        {% else %}
        <div class="col-md-6">
            <hr style="margin-bottom:10px; margin-top:4px; height:2px;border-width:0;color:gray;background-color:rgb(190, 190, 190)">
            <ul class="list-inline" style="float: right;">
                <li id="bearbeiten" class="list-inline-item">
                    <button type="button" 
                        class="btn btn-block btn-lg" 
                        style="text-size-adjust: auto;" 
                        onClick="bearbeiten(61)"><span class="fas fa-edit">
                    </button>
                </li>
                <li id="submit" class="list-inline-item" style="display: none;">
                    {{ form.submit() }}
                </li>
                <li id="back" class="list-inline-item">
                    <button type="button" 
                        class="btn btn-block btn-lg" 
                        onclick="location.href='{{ url_for('wartgeraete') }}'"><span class="fas fa-arrow-left"></span>
                    </button>
                </li>
                <li id="loeschen" class="list-inline-item">
                    <button type="button" 
                        class="btn btn-danger btn-block btn-lg" 
                        onclick="location.href='{{ url_for('geraeteentfernen', id=id, check=0) }}'"><span class="fas fa-trash"></span>
                    </button>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
</form>


<script>
    function bearbeiten(){
        document.getElementById('bearbeiten').style.display='none';
        document.getElementById('submit').style.display='inline-block';
        document.getElementById('loeschen').style.display='none';
        document.getElementById('pin').style.display='block';
        document.getElementById('abschnitts_titel').innerHTML = 'Gerät bearbeiten'     
        
        var inputElements = document.getElementsByTagName('input');
        for (var i=0; i < inputElements.length; i++) {
            inputElements[i].disabled=false;
        }

        <!-- Gerätetyp muss seperat aktiviert werden, da select -->
        document.getElementById('typ').disabled=false;
        document.getElementById('info').disabled=false;
    }     
</script>
{% endblock%}

