{% extends 'base_wart.html'%}

{% block input%}
<div class="row" style="margin-top: 8px;">
    <form id='auswahl' class="form-group" action="" method="post">
        {{ form.hidden_tag() }}
        <div class="col-md-5">
                <p>
                    {{ form.geraet(class="form-control") }}
                </p>
        </div>
        <div class="col-md-5">
            <p>
                {{ form.year(class="form-control", value=year)}}
            </p>
        </div>
    
        <div class="col-md-2">
            <button type="button" class="btn btn-primary btn-block" style="float: right;" onclick="window.open('{{ url_for('pdflogbuch', year=year) }}')">
                <span class="fas fa-download"></span>
            </button>
        </div>
    </form>
</div>
<div class="row" style="margin-top: 8px;">
    <div class="col-xs-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Grund</th>
                    <th>Druck</th>
                    <th>HD/<br>Warn</th>
                    <th>Geräte-<br>träger</th>
                    <th>Prüfer</th>
                </tr>
            </thead>
            <tbody>
                {% for eintrag in daten %}
                <tr>
                    <td>{{ eintrag.zeit }}</td>
                    <td>{{ eintrag.grund }}</td>
                    {% if typ_geraet=='200bar' %}
                    <td>{{ eintrag.druck1 }}/{{ eintrag.druck2 }}</td>
                    {% else %}
                    <td>{{ eintrag.druck1 }}</td>
                    {% endif %}

                    <td>{% if eintrag.dichtheit %}
                            {% if eintrag.warnsignal %}ok{% else %}nein{% endif%}
                        {% else %}
                            nein
                        {% endif%}
                    </td>

                    <td>{% if eintrag.geraetetraeger %}{{ eintrag.geraetetraeger }}{% endif%}</td>
                    <td>{{ eintrag.pruefer }}</td>
                </tr>
                {% endfor %}
            </tbody>           
        </table>
    </div>

</div>

<script>
    document.getElementById('tab_geraete').className = ""
    document.getElementById('tab_logbuch').className = "active"
    document.getElementById('tab_qr').className = ""

    document.getElementById("geraet").addEventListener("change", function() {
        document.getElementById("auswahl").submit();
      });

      document.getElementById("year").addEventListener("change", function() {
        document.getElementById("auswahl").submit();
      });

      
</script>
{% endblock %}