{% extends "base.html" %}

{% block info%}
<h4>Überprüfen des Flaschendruckes</h4>
<p>Der Druck muss mindestens 180bar betragen.</p>
{% endblock %}

{% block input %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>Linke Flasche öffnen, kurz warten, schließen, Druck eingeben:</p>
    <p>{{ form.druckl(size=30) }}</p>

    <p>Rechte Flasche öffnen, kurz warten, schließen, Druck eingeben:</p>
    <p>{{ form.druckr(size=30) }}</p>
    
    <p>{{ form.submit() }}</p>
</form>
{% endblock%}