{% extends "base.html" %}

{% block info%}
<h1>Menü</h1>
<p>hier kommen die buttons</p>
{% endblock %}

{% block input%}
<h3>Kurzprüfung</h3>
<button type="button" onClick="location.href='{{ url_for('kpstand', geraet=geraet, grund='Einsatz') }}'">Einsatz</button>
<button type="button" onClick="location.href='{{ url_for('kpstand', geraet=geraet, grund='Uebung') }}'">Übung</button>
<button type="button" onClick="location.href='{{ url_for('kpstand', geraet=geraet, grund='Tourlich') }}'">Montl. Prüfung</button>
{% endblock%}