{% extends 'bootstrap/base.html' %}

{% block metas%}
<meta name="viewport" content="width=device-width, inital-scale=1.0, maximum-scale=1.0">
{% endblock %}

{% block styles %}
{{super()}}    
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{{ fontawesome_css() }}
{% endblock%}

{% block title %}
    {% if title %}{{ title }} - ATS-App{% else %}ATS-App{% endif %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row bg-primary" style="padding-top: 0.3em;">
            <div class="col-xs-1"></div>
            <div class="col-xs-8" style="padding-left: 0em;">
                <p style="margin-bottom: 0px; margin-top:0.3em">Ausgewähltes Gerät</p>
                <h3 style="margin-top: 0px;">{{ geraet }}</h3>
            </div>
            <div class="col-xs-2">
                <img src="/static/img/wappen_feuerwehr.png" alt="Wappen Feuerwehr"  style="height: 50px; padding-top:0.5em;">
            </div>
        </div>
        
        {% block input %}{% endblock %}
    </div>
{% endblock%}
<!-- <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script> -->