{% extends "base.html" %}

{% block input %}
<form class="form-group" action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <br>
    <div id="name_div">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1" style="padding-right: 0em; padding-left: 0em">
                <h4>Name des Prüfers</h4>
                <p>Bitte hier deinen Namen eingeben, ein eindeutiger Kurzname ist ausreichend:</p>                
                <p>
                    {{ form.name(class="form-control", placeholder="Name") }}
                </p>
                <p id="error_name" class="error">Es muss ein Name eingegeben werden</p>
            </div>
            
        </div>
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-8" style="padding-right: 0.2em; padding-left: 0em">
                <button type="button" class="btn btn-success btn-block btn-lg" onClick="weiter_name()"><span class="fas fa-check-circle"></span></button>
            </div>
            <div class="col-xs-2" style="padding-left: 0.2em; padding-right: 0em;">
                <button type="button" class="btn btn-warning btn-lg btn-block" onClick="window.location.href='{{ url_for('auswahl', id=id) }}';"><span class="fas fa-times-circle"></span></button>
            </div>
        </div>
    </div>

    <div id="traeger_div" style="display: none;">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1" style="padding-right: 0em; padding-left: 0em">
                <h4>Warst du selbst im Einsatz bzw. Übung?</h4>
                <p>Prüfst du das Gerät für dich selbst?</p>              
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-5" style="padding-right: 0.2em; padding-left: 0em">
                <button type="button" 
                        class="btn btn-success btn-block btn-lg" 
                        onClick='weiter_traeger("ja")'>
                        ja
                </button>
            </div>
            <div class="col-xs-5" style="padding-left: 0.2em; padding-right: 0em;">
                <button type="button" 
                        class="btn btn-warning btn-lg btn-block" 
                        onClick='weiter_traeger("nein")'>
                        nein
                </button>
            </div>   
        </div>
    </div>

    <div id="traeger_eingabe" style="display: none;">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1" style="padding-right: 0em; padding-left: 0em">
                <h4>Name des Trägers</h4>
                <p>Bitte hier den Namen des Geräteträgers eingeben für den du das Gerät prüfst:</p>                
                <p>
                    {{ form.traeger(class="form-control", placeholder="Name") }}
                </p>
                <p id="error_traeger" class="error">Es muss ein Name eingegeben werden</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-8" style="padding-right: 0.2em; padding-left: 0em">
                <button type="button" class="btn btn-success btn-block btn-lg" onClick="weiter_traeger_eingabe()"><span class="fas fa-check-circle"></span></button>
            </div>
            <div class="col-xs-2" style="padding-left: 0.2em; padding-right: 0em;">
                <button type="button" class="btn btn-warning btn-lg btn-block" onClick="window.location.href='{{ url_for('auswahl', id=id) }}';"><span class="fas fa-times-circle"></span></button>
            </div>
        </div>
    </div>


    
    <div id="gurte" style="display: none;">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1" style="padding-right: 0em; padding-left: 0em">
                <h4>Bebänderung Maske und Gerät</h4>
                <p>Ist beides auf lang gestellt und auch die Rettungsgurte wieder korrekt in den Taschen versorgt?</p>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-6" style="padding-right: 0em; padding-left: 0em">
                <button type="button" class="btn btn-success btn-block btn-lg" onClick="document.getElementById('druck').style.display='block'; document.getElementById('gurte').style.display='none'"><span class="fas fa-check-circle"></span></button>
            </div>
            <div class="col-xs-2" style="padding-left: 0.2em; padding-right: 0.2em;">
                <button type="button" class="btn btn-lg btn-block" onClick="document.getElementById('name_div').style.display='block'; document.getElementById('gurte').style.display='none'"><span class="fas fa-arrow-circle-left"></span></button>
            </div>
            <div class="col-xs-2" style="padding-left: 0em; padding-right: 0em;">
                <button type="button" class="btn btn-warning btn-lg btn-block" onClick="window.location.href='{{ url_for('auswahl', id=id) }}';"><span class="fas fa-times-circle"></span></button>
            </div>
        </div>
    </div>

    
    <div id="druck" style="display: none;">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1" style="padding-right: 0em; padding-left: 0em">
                <h4>Überprüfen des Flaschendruckes</h4>
                {% if typ=='200bar' %}
                <p>Der Druck muss mindestens  180bar betragen.</p>
                
                <p>Linke Flasche öffnen, kurz warten, wieder schließen, Druck eingeben:</p>
                <p>{{ form.druckl(class="form-control", placeholder="min 180 bar") }}</p>
                <p id="error_druckl" class="error">Druck nicht im zulässigen Bereich</p>
            
                <p>Rechte Flasche öffnen, kurz warten, wieder schließen, Druck eingeben:</p>
                <p>{{ form.druckr(class="form-control", placeholder="min 180 bar") }}</p>
                <p id="error_druckr" class="error">Druck nicht im zulässigen Bereich</p>
                {% else %} 
                <p>Der Druck muss mindestens  270bar betragen.</p>
                
                <p>Flasche öffnen, kurz warten, wieder schließen, Druck eingeben:</p>
                <p>{{ form.druckl(class="form-control", placeholder="min 270 bar", min="270") }}</p>
                <p id="error_druckl" class="error">Druck nicht im zulässigen Bereich</p>
                <p style="display: none;">{{ form.druckr(class="form-control", value=0) }}</p>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-6" style="padding-right: 0em; padding-left: 0em">
                <button type="button" class="btn btn-success btn-block btn-lg" onClick="weiter_druck()"><span class="fas fa-check-circle"></span></button>
            </div>
            <div class="col-xs-2" style="padding-left: 0.2em; padding-right: 0.2em;">
                <button type="button" class="btn btn-lg btn-block" onClick="document.getElementById('gurte').style.display='block'; document.getElementById('druck').style.display='none'"><span class="fas fa-arrow-circle-left"></span></button>
            </div>
            <div class="col-xs-2" style="padding-left: 0em; padding-right: 0em;">
                <button type="button" class="btn btn-warning btn-lg btn-block" onClick="window.location.href='{{ url_for('auswahl', id=id) }}';"><span class="fas fa-times-circle"></span></button>
            </div>
        </div>
    </div>

    <div id="dicht" style="display: none;">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1" style="padding-right: 0em; padding-left: 0em">
                <h4>Dichteprüfung</h4>   
                <p>
                    Nach dem die letzte Flasche wieder geschlossen wurde 
                    darf der Druck innerhalb einer Minute nur um 10bar sinken.
                </p>
                <br>
            </div>
        </div>
        
        {% if kurz == "kurz" %}
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-6" style="padding-right: 0em;">
                    <button id="weiter" type="button" class="btn btn-success btn-block btn-lg" onClick="document.getElementById('warn').style.display='block'; document.getElementById('dicht').style.display='none'"><span class="fas fa-check-circle"></span></button>
                </div>
            </div>  
        {% else %}
            <div class="row text-center">
                <div class="col-xs-6 col-xs-offset-3" style="padding-right: 0em; padding-left: 0em">
                    <h1 id="countdown">60</h1>
                    <h4>Sekunden</h4>
                </div>
            </div>

            <div class="row" style="padding-right: 0em;">
                <div class="col-xs-6 col-xs-offset-3" style="padding-right: 0em; padding-left: 0em" >
                    <button id="start" type="button" class="btn btn-block btn-lg" onClick="funcountdown(61)">Zeit starten</button>
                    <button id="restart" type="button" class="btn btn-block btn-lg" style="display: none;" onclick="funcrestart()">neustarten</button> 
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-6" style="padding-right: 0em; padding-left: 0em">
                    <button id="weiter" type="button" class="btn btn-success btn-block btn-lg" disabled="disabled" onClick="document.getElementById('warn').style.display='block'; document.getElementById('dicht').style.display='none'"><span class="fas fa-check-circle"></span></button>
                </div>
                <div class="col-xs-2" style="padding-right: 0.2em; padding-left: 0.2em">
                    <button type="button" class="btn btn-lg btn-block" onClick="document.getElementById('druck').style.display='block'; document.getElementById('dicht').style.display='none'"><span class="fas fa-arrow-circle-left"></span></button>
                </div>
                <div class="col-xs-2" style="padding-right: 0em; padding-left: 0em">
                    <button type="button" class="btn btn-warning btn-lg btn-block" onClick="window.location.href='{{ url_for('auswahl', id=id) }}';"><span class="fas fa-times-circle"></span></button>
                </div>
            </div>
            
        {% endif%}
    </div>

    <div id="warn" style="display: none;">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1" style="padding-right: 0em; padding-left: 0em">
                <h4>Warnsignal</h4>
                <p>Druck langsam ablassen, zwischen 50 und 60bar sollte das Warnsignal ertönen.</p>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-6" style="padding-right: 0em; padding-left: 0em">
                <p>{{ form.submit() }}</p>
            </div>
            <div class="col-xs-2" style="padding-right: 0.2em; padding-left: 0.2em">
                <button type="button" class="btn btn-lg btn-block" onClick="document.getElementById('dicht').style.display='block'; document.getElementById('warn').style.display='none'"><span class="fas fa-arrow-circle-left"></span></button>
            </div>
            <div class="col-xs-2" style="padding-right: 0em; padding-left: 0em">
                <button type="button" class="btn btn-warning btn-lg btn-block" onClick="window.location.href='{{ url_for('auswahl', id=id) }}';"><span class="fas fa-times-circle"></span></button>
            </div>
        </div>  
    </div>
</form>

    <script>
        function funcountdown(zeit){
            document.getElementById("start").style.display = "none";
            document.getElementById("restart").style.display = "inline";

            var x = setInterval(function(){
                zeit = zeit - 1;

                document.getElementById("countdown").innerHTML = zeit;

                if (zeit == 0){
                    clearInterval(x);
                    document.getElementById("weiter").disabled = false;
                    
                }

                document.getElementById("restart").addEventListener("click", function() {
                    clearInterval(x);
                    funcountdown(2);
                });
            }, 1000)
        }
        
        function weiter_name(){
            var name = document.getElementById('name').value;
            {% if kurz == "kurz" %}
                var kurz = "kurz";
            {% else %}
                var kurz = "normal"
            {% endif %}
            

            if (name == ""){
                document.getElementById('error_name').style.display='block';
            } else {
                if (kurz == "kurz"){
                    document.getElementById('gurte').style.display='block'; 
                    document.getElementById('name_div').style.display='none';
                } else {
                    document.getElementById('traeger_div').style.display='block'; 
                    document.getElementById('name_div').style.display='none';
                }
                
            }
            
        }

        function weiter_traeger(answer){            
            if (answer == "nein"){
                document.getElementById('traeger_eingabe').style.display='block'; 
                document.getElementById('traeger_div').style.display='none';
            } else {
                document.getElementById('gurte').style.display='block'; 
                document.getElementById('traeger_div').style.display='none';
            }
            
        }

        function weiter_traeger_eingabe(){
            var traeger = document.getElementById('traeger').value

            if (traeger == ""){
                document.getElementById('error_traeger').style.display='block';
            } else {
                document.getElementById('gurte').style.display='block'; 
                document.getElementById('traeger_eingabe').style.display='none';
            }
        }

                
    

        
        
        function weiter_druck(){
            {% if typ == "200bar" %}
                var typ = "200bar";
            {% else %}
                var typ = "300bar";
            {% endif %}

            var druckl = document.getElementById('druckl').value;
            var druckr = document.getElementById('druckr').value;

            document.getElementById('error_druckl').style.display='none';
            if (document.getElementById('error_druckr') != null){
                document.getElementById('error_druckr').style.display='none';
            }
            

            if (typ == '200bar'){
                if (druckl < 180 || druckl > 250 || druckl == ""){
                    document.getElementById('error_druckl').style.display='block';
                } else if (druckr < 180 || druckr > 250 || druckr == ""){
                    document.getElementById('error_druckr').style.display='block';
                } else {
                    document.getElementById('dicht').style.display='block'; 
                    document.getElementById('druck').style.display='none';
                }
            } else {
                if (druckl < 270 || druckl > 350 || druckl == ""){
                    document.getElementById('error_druckl').style.display='block';
                } else {
                    document.getElementById('dicht').style.display='block'; 
                    document.getElementById('druck').style.display='none';
                }
            }
        }
        
    </script>
{% endblock%}